In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
nys_electric_vehicle_registrations=pd.read_csv('nys_electric_vehicle_registrations.csv')
nys_electric_vehicle_registrations.head()

,record_type,vin,registration_class,city,state,zip,county,model_year,make,body_type,fuel_type,unladen_weight,maximum_gross_weight,passengers,reg_valid_date,reg_expiration_date,color,scofflaw_indicator,suspension_indicator,revocation_indicator
0,VEH,96722014661,SRF,BOVINA,NY,13740,DELAWARE,1972,SAAB,2DSD,ELECTRIC,2000.0,NaN,NaN,2021-05-04,2023-06-26,WH,N,N,N
1,VEH,9106843,SRF,GLENDALE,NY,11385,QUEENS,1974,EVA,4DSD,ELECTRIC,2180.0,NaN,NaN,2021-09-21,2023-10-03,BR,N,N,N
2,VEH,909SR2223A,SRF,STAFFORD,NY,14143,GENESEE,1979,CITIC,2DSD,ELECTRIC,850.0,NaN,NaN,2021-05-12,2023-04-01,GR,N,N,N
3,VEH,9E2SPAXBC113501,PSD,JOHNSTOWN,NY,12095,FULTON,2012,VANTA,PICK,ELECTRIC,1900.0,NaN,NaN,2014-07-01,NaN,WH,N,N,N
4,VEH,9A204759,SPC,BROOKLYN,NY,11211,KINGS,2014,CROWN,P/SH,ELECTRIC,3335.0,NaN,NaN,2021-12-09,2022-12-31,WH,N,N,N

In [3]:
nys_electric_vehicle_registrations.shape

(62063, 20)

In [4]:
nys_electric_vehicle_registrations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62063 entries, 0 to 62062
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   record_type           62063 non-null  object
 1   vin                   62063 non-null  object
 2   registration_class    62063 non-null  object
 3   city                  62063 non-null  object
 4   state                 62063 non-null  object
 5   zip                   62063 non-null  int64
 6   county                62063 non-null  object
 7   model_year            62063 non-null  int64
 8   make                  62063 non-null  object
 9   body_type             62063 non-null  object
 10  fuel_type             62063 non-null  object
 11  unladen_weight        60844 non-null  float64
 12  maximum_gross_weight  180 non-null    float64
 13  passengers            1039 non-null   float64
 14  reg_valid_date        62063 non-null  object
 15  reg_expiration_date   59306 non-null  object
 16  color                 62063 non-null  object
 17  scofflaw_indicator    62063 non-null  object
 18  suspension_indicator  62063 non-null  object
 19  revocation_indicator  62063 non-null  object
dtypes: float64(3), int64(2), object(15)
memory usage: 9.5+ MB

In [5]:
nys_electric_vehicle_registrations.city.value_counts()

BROOKLYN         10275
NEW YORK          3300
BRONX             1689
STATEN ISLAND     1276
ROCHESTER         1120
                 ...
CENTERREACH          1
MORRISVILLE          1
MORRISTOWN           1
FISHERS ISLE         1
PLEASANT VAL         1
Name: city, Length: 1986, dtype: int64

In [6]:
nys_electric_vehicle_registrations.isnull().sum()

record_type                 0
vin                         0
registration_class          0
city                        0
state                       0
zip                         0
county                      0
model_year                  0
make                        0
body_type                   0
fuel_type                   0
unladen_weight           1219
maximum_gross_weight    61883
passengers              61024
reg_valid_date              0
reg_expiration_date      2757
color                       0
scofflaw_indicator          0
suspension_indicator        0
revocation_indicator        0
dtype: int64

In [9]:
nys_electric_vehicle_registrations=nys_electric_vehicle_registrations.dropna()

In [10]:
nys_electric_vehicle_registrations.isnull().sum()

record_type             0
vin                     0
registration_class      0
city                    0
state                   0
zip                     0
county                  0
model_year              0
make                    0
body_type               0
fuel_type               0
unladen_weight          0
maximum_gross_weight    0
passengers              0
reg_valid_date          0
reg_expiration_date     0
color                   0
scofflaw_indicator      0
suspension_indicator    0
revocation_indicator    0
dtype: int64